{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}
<section class="cart-page">
    <div class="cart-container">
        <div class="alert alert-info" role="alert">
            {{ message }}
        </div>
        <div class="cart-title-page">
            <h1>Mon Panier</h1>
        </div>
        <div class="cart-content">
            <div class="cart-content-delete">
                <a href="{{ path('app_empty_cart')}}">x Vider le panier</a>
            </div>
            <div class="cart-content-products-list">
                {% for panierProduit in panierProduits %}
                    <div class="product-card">
                        <div class="product-card-image">
                            <img src="{{ asset( imagePath ~ panierProduit.produit.image) }}" alt="">
                        </div>
                        <div class="product-card-info">
                            <h3>{{ panierProduit.produit.nom }}</h3>
                            <p class="product-quantity">Quantité :{{ panierProduit.quantite }}</p>
                            <p class="product-price">{{ panierProduit.prixUnitaire | number_format(2, ',', ' ') }} €</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="cart-content-total">
                <div class="cart-content-total-price">
                    <h3>Total panier :</h3>
                    <p>{{ total | number_format(2, ',', ' ') }}€</p>
                </div>
                <p class="delivery-feeds">Frais de livraison : Offert</p>
            </div>
            <div class="btn btn-submit-order-container">
                <a href="{{ path('app_validate_cart') }}">Valider la commande</a>
            </div>

        </div>

    </div>
</section>
{% endblock %}
