{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}
<section class="cart-page">
    <div class="cart-container">
        <div class="cart-title-page">
            <h1>Mon Panier</h1>
        </div>
        <div class="cart-content">
            <div class="cart-content-delete">
                <a href="{{ path('app_empty_cart')}}">x Vider le panier</a>
            </div>
            <div class="cart-content-products-list">
                {% for cartProduct in cartProducts %}
                    <div class="product-card">
                        <div class="product-card-image">
                            <img src="{{ asset( imagePath ~ cartProduct.product.image) }}" alt="">
                        </div>
                        <div class="product-card-info">
                            <h3>{{ cartProduct.product.name }}</h3>
                            <p class="product-quantity">Quantité :{{ cartProduct.quantity }}</p>
                            <p class="product-price">{{ cartProduct.unitPrice | number_format(2, ',', ' ') }} €</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="cart-content-total">
                <div class="cart-content-total-price">
                    <h3>Total panier :</h3>
                    <p>{{ total | number_format(2, ',', ' ') }}€</p>
                </div>
                <p class="delivery-feeds">Frais de livraison : Offert</p>
            </div>
            <div class="btn-submit-order-container">
                <a href="{{ path('app_validate_cart') }}" id="btn-validate" class="btn">Valider la commande</a>
            </div>

        </div>

    </div>
</section>
{% endblock %}
{% block script %}
    <script>
        {% for message in app.flashes('order_validation_success') %}
        Swal.fire({
            icon: 'success',
            title: '{{ message|e("js") }}',
            showConfirmButton: false,
            timer: 5000
        }).then(() => {
            window.location.href = "{{ path('app_home') }}";
        });
        {% endfor %}
        {% for message in app.flashes('empty_cart') %}
        Swal.fire({
            position: "top",
            icon: 'error',
            title: '{{ message|e("js") }}',
            showConfirmButton: true,
        });
        {% endfor %}
        {% for message in app.flashes('no_cart') %}
        Swal.fire({
            position: "top",
            icon: 'error',
            title: '{{ message|e("js") }}',
            showConfirmButton: true,
        });
        {% endfor %}
        {% for message in app.flashes('error') %}
        Swal.fire({
            icon: 'error',
            title: '{{ message|e("js") }}',
            showConfirmButton: true,
        });
        {% endfor %}
    </script>
{% endblock %}
