{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="register-container">
        <div class="register-image">
            <img src="{{ asset('../assets/images/register-image.jpg') }}" alt="register">
        </div>
        <div class="register-form-content">
            <div class="register-form-title">
                <h1>Inscription</h1>
                <p>Tous les champs sont obligatoires.</p>
            </div>
            <div class="register-form">
                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                <div class="form-group">
                    {{ form_label(registrationForm.lastName, 'Nom') }}
                    {{ form_widget(registrationForm.lastName) }}
                    <div class="form-error">{{ form_errors(registrationForm.lastName) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(registrationForm.firstName, 'Prénom') }}
                    {{ form_widget(registrationForm.firstName) }}
                    <div class="form-error">{{ form_errors(registrationForm.firstName) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(registrationForm.email, 'Adresse mail') }}
                    {{ form_widget(registrationForm.email) }}
                    <div class="form-error">{{ form_errors(registrationForm.email) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(registrationForm.plainPassword.first, 'Mot de passe') }}
                    {{ form_widget(registrationForm.plainPassword.first) }}
                    <div class="form-error">{{ form_errors(registrationForm.plainPassword.first) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(registrationForm.plainPassword.second, 'Confirmation du mot de passe') }}
                    {{ form_widget(registrationForm.plainPassword.second) }}
                    <div class="form-error">{{ form_errors(registrationForm.plainPassword.second) }}</div>
                    <div class="form-error">{{ form_errors(registrationForm.plainPassword) }}</div>
                </div>
                <div class="form-group">
                    <div class="terms-container">
                        <div class="terms-container-checkbox">
                            {{ form_widget(registrationForm.agreeTerms) }}
                        </div>
                        <div class="terms-container-text">
                            {{ form_label(registrationForm.agreeTerms, "J'accepte les CGU de GreenGoodies") }}
                        </div>
                    </div>
                    <div class="form-error">{{ form_errors(registrationForm.agreeTerms) }}</div>
                </div>

                <button type="submit" class="btn btn-registration">S'inscrire</button>
                {{ form_end(registrationForm) }}
                <a href="{{ path ("app_login") }}" class="registration-login-link">Déja un compte ? Se connecter</a>
            </div>
        </div>
    </div>
{% endblock %}
