{% extends 'base.html.twig' %}

{% block title %}{{ product.nom }}{% endblock %}

{% block body %}
    <div class="container-flex-detail-product">
        <div class="container-image">
            <img src="{{ asset(imagePath ~ product.image) }}" alt="">
        </div>
        <div class="container-text-product-detail">
            <div class="container-title-price-product">
                <div class="title-product">{{ product.nom }}</div>
                <div class="price-product">{{ product.prixProduit|number_format(2,',') }}€</div>
            </div>
            <div class="container-description-product">
                <div class="description-title">Description</div>
                <div class="description-product">{{ product.descriptionLongue }}</div>
            </div>
            <form action="{{ path('app_add_to_cart', {'id': product.id}) }}" method="post" class="add-to-cart-form">
                {% if inCart %}
                    <label for="quantite">Quantité :</label>
                    <input type="number" id="quantite" name="quantite" min="0" value="{{ quantite ?? 1 }}" required>
                {% endif %}
                <button type="submit" class="link-add-cart">
                    {{ inCart ? 'Mettre à jour' : 'Ajouter au panier' }}
                </button>
            </form>
        </div>
    </div>
{% endblock %}
