{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <div class="container-flex-detail-product">
        <div class="container-image">
            <img src="{{ asset(imagePath ~ product.image) }}" alt="">
        </div>
        <div class="container-text-product-detail">
            <div class="container-title-price-product">
                <div class="title-product">{{ product.name }}</div>
                <div class="price-product">{{ product.productPrice|number_format(2,',') }}€</div>
            </div>
            <div class="container-description-product">
                <div class="description-title">Description</div>
                <div class="description-product">{{ product.longDescription }}</div>
            </div>
            <div class="container-quantity-product-form">
                {{ form_start(form, {'attr': {'class': 'add-to-cart-form'}}) }}

                {{ form_label(form.quantity) }}
                {{ form_widget(form.quantity) }}

                <button type="submit" class="btn">
                    {{ inCart ? 'Mettre à jour' : 'Ajouter au panier' }}
                </button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
