{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <section class="account-page-bg">
        <h2 class="title-my-account">Mon compte</h2>
            <div class="account-orders-section">
                <h3>Mes commandes</h3>
                <table class="account-orders-table">
                    <thead>
                    <tr>
                        <th>N°</th>
                        <th>Date</th>
                        <th>Prix</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ '%02d'|format(order.id) }}</td>
                            <td>{{ order.orderDate|date('d/m/Y') }}</td>
                            <td>{{ order.orderPrice|number_format(2, ',', ' ') }}€</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="account-api-section">
                <h4>Mon accès API</h4>
                {% if apiAccess == false %}
                    <a href="{{ path('app_user_activate_api') }}" class="btn">Activer mon accès API</a>
                {% else %}
                    <a href="{{ path('app_user_deactivate_api') }}" class="btn">Désactiver mon accès API</a>
                {% endif %}
            </div>
            <div class="account-delete-section">
                <a href="{{ path('app_user_delete_account') }}" class="btn">Supprimer mon compte</a>
            </div>
    </section>
{% endblock %}
